<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chat Interface</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://kit.fontawesome.com/0bf422052a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- Bootstrap CSS v5.2.1 -->
      <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header class="fixed-top">
        <div class="navbar mt-0 fixed-top">
            <div class="signout-icon"><a class="signout-a" href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a></div>
            <h1 class="glrate"><a href="/">Glrate</a></h1>
            <div class="profile-circle"><img class="profile-circle-img" src="/images/test.jpg" alt=""></div>
          </div>
    </header>
    
    <div class="container-fluid bg-transparent py-2">
              <main class="col-md-12 ms-sm-auto col-lg-12 px-md-4 py-5">
                <% if (receiver) { %>
                    <h1>chat with <%= receiver.student_id %></h1>
                
                <div class="chat-container bg-white" id="chat-container">
                  <!-- Placeholder messages -->
                  <% messages.forEach(message => { %>
                    <% if (message.sender_id == user.id) { %>
                        <div class="message sender">
                            <strong><%= user.student_id %></strong> <%= message.message %>
                          </div>
                    <% } else { %>
                        <div class="message receiver">
                            <strong><%= receiver.student_id %></strong> <%= message.message %>
                          </div>
                   <% } %>
                  <% }) %>
                </div>
            
                <!-- Input field for sending messages -->
                <div class="message-input">
                    <input type="hidden" name="" id="senderID" value="<%= user.id %>">
                    <input type="hidden" name="" id="receiverID" value="<%= receiver.id %>">
                    <input type="hidden" name="" id="senderName" value="<%= user.student_id %>">
                    <input type="hidden" name="" id="senderSocketID" value="<%= user.socket_id %>">
                    <input type="hidden" name="" id="receiverSocketID" value="<%= receiver.socket_id %>">
                      <textarea class="form-control" name="" placeholder="Type your message..." id="message-input" rows="3"></textarea>
                    <button type="button" class="btn btn-primary send-button" id="send-button">Send</button>
                  </div>
                  <% } %>
            </main>
    </div>

    <footer class="footer fixed-bottom">
        <nav class="bar">
            <a class="nav-link" href="/search" data-votes="10"><i class="fas fa-search"></i></a>
            <a class="nav-link" href="/swipe" data-votes="24"><i class="fas fa-poll"></i></a>
            <a class="nav-link" href="/leaderboard" data-votes="5"><i class="fas fa-trophy"></i></a>
            <a class="nav-link" href="/chat" data-votes="1"><i class="fas fa-comment"></i></a>
            <a class="nav-link active" href="/profile" data-votes="15"><i class="fas fa-user"></i></a>
        </nav>
    </footer>


  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script>
    let socket = io();
        socket.emit('create_private_room', '<%= user.id %>', '<%= receiver.id %>');
  </script>
  <script src="/javascripts/convo.js"></script>
</body>

</html>
